.App {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: none;
  margin: none;
  background: #E4E4F2;
  background-image: url(pictures/meshBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;

}

